<div class="restuarants-content">
  <ul>
    <% @restuarants.each do |restuarant| %>
      <li>
        <%= restuarant.name %>
        <%= restuarant.votes.count %>
        <%= button_to 'vote!', votes_path(id: restuarant.id, method: :post) %>
      </li>
    <% end %>
  </ul>
</div>
