@import 'defaults';

.restuarants-content {
  @extend .content;
  display: grid;

  > ul {
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      text-align: center;
      padding: 50px;
    }
  }
}
