.sessions-content {
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

.form-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  box-sizing: border-box;
  overflow: hidden;

  > input {
  }
}
