<div class="container">
  <header>
    <nav>
      <ul class="nav-links">
        <% if logged_in? %>
          <li><%= current_user.username %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
